<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Videos</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" href="index.html">Student Steminar</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#about">Go Live</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#portfolio">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <header class="videos">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">COURSES</h1>
          <hr>
          <p>Below are links to youtube videos and other resources about these topics.</p>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="geometry">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Geometry</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BN6ixAwozSKmgppEvkE2_rT">Youtube</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.khanacademy.org/math/geometry">Khan Academy</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="algebra">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Algebra</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BP9hyAHCfjloy8RC7vsULiv">Algebra</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BOyMIWkgPAbRQTB5u39q1p1">Pre-Algebra</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="trig">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Trigonometry</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BMGX71JYJU9ofWlPhjhw92I">Youtube</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="precalc">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Precalculus</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BOLjlVKHcFyVh-K5PreRqY7">Youtube</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="calc1">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Calculus I</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BPGQeSHLcDy6Li2IU2ylEd8">Limits & Continuity</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BN26s7tmqlWic7nsmC8wJmx">Derivatives</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BOyqq-8op0QvpQ10yRH6Ceg">Applications of Derivatives</a>
            <a class="btn btn-default btn-xl sr-button" href="http://press.princeton.edu/video/banner/">Princeton</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.khanacademy.org/math/ap-calculus-ab">Khan Academy</a>
            <a class="btn btn-default btn-xl sr-button" href="http://www.astronomia.edu.uy/progs/calculo/The_Calculus_Lifesaver.pdf">The Calculus Lifesaver: Textbook</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="calc2">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Calculus II</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BMLY0W20zQrTWWDoqSeOoG3">Integrals</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BMz4irMey8DcJe_iiXgA9aI">Applications of Integrals</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BNjv72PRNBSrby40R6LKy6r">Polar & Parametric</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLJ8OrXpbC-BPaXEPecIAS_ddViV2_gcYL">Sequences & Series</a>
            <a class="btn btn-default btn-xl sr-button" href="http://press.princeton.edu/video/banner/">The Calculus Lifesaver: Lectures</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.khanacademy.org/math/ap-calculus-bc">Khan Academy</a>
            <a class="btn btn-default btn-xl sr-button" href="http://brianveitch.com/calculus2/finalexam/final-exam-review.pdf">Reference Sheet</a>
            <a class="btn btn-default btn-xl sr-button" href="http://www.astronomia.edu.uy/progs/calculo/The_Calculus_Lifesaver.pdf">The Calculus Lifesaver: Textbook</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="graphicdesign">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Graphic Design</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLYfCBK8IplO6v0QjCj-TSrFUXnRV0WxfE">Adobe Photoshop Tutorial</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLynG8gQD-n8BMplEVZVsoYlaRgqzG1qc4">Inkscape Beginner Tutorials</a>
            <a class="btn btn-default btn-xl sr-button" href="https://www.youtube.com/embed/videoseries?list=PLynG8gQD-n8AFcLFAkvqJYnQUiBweRh1y">Inkscape Intermediate/Advanced Tutorial</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Custom scripts for this template -->
    <link href="{% static 'js/blog.js' %}">
    <link href="{% static 'vendor/popper/popper.js' %}">
    <link href="{% static 'vendor/scrollreveal/scrollreveal.js' %}">
    <link href="{% static 'vendor/magnific-popup/jquery.magnific-popup.js' %}">
    <link href="{% static 'vendor/jquery-easing/jquery.easing.js' %}">
    <link href="{% static 'vendor/jquery/jquery.js' %}">
    <link href="{% static 'vendor/bootstrap/js/bootstrap.js' %}">

  </body>

  </html>
